<h1>Decisionmaker#new</h1>
<p>Find me in app/views/decisionmaker/new.html.erb</p>

<p>
Please insert decision makers for your Decisionroom "<%= @decisionroom.name %>". 
</p>

<%= render partial: "form"%>

<div class="links">
	<%= link_to "Back", decisionroom_path(@decisionroom) %>
</div>