<h1>Decisionroom#index</h1>
<p>Find me in app/views/decisionroom/index.html.erb</p>

<div> 
	<button>
		<%= link_to "New Decisionroom", new_decisionroom_path %>
	</button>
</div>
<table>
	<tr>
		<td> 
			Decision Link
		</td>
		<td>
			Status
		</td>
	</tr>
	<% @decisionroom.each do |d| %>
	<tr>
		<td>
			<%= link_to d.name, decisionroom_path(d) %>	
		</td>
		<td>
			<% if d.has_outcome then %>
			<%= "Decision is finalized." %>
			<% else %>
			<%= "Decision is in progress." %>
			<% end %>
		</td>
	</tr>
	<% end %>
</table>