<article id="main">
<section class="wrapper style5">
<div class="inner">
<section>
</br>
<h2 style="text-align: center;">
	Start with creating your decision
</h2>
This is an alpha version and just for testing purposes. If you are not one of the developer, you can use it for getting an impression of the application. We would love to get some feedback from you.
<br/> <br/>
If you want to know what this is about, just visit www.decivo.de for more information.
<hr />
<%= render partial: "form" %>
</section>
</article>
</div>
</section>