<article id="main">
<section class="wrapper style5">
<div class="inner">
<section>
</br>
<h2 style="text-align: center;">
	Start with creating your decision
</h2>
This is a trial version and just for testing purposes. If you are not one of the developer, you can use it for getting an impression of the application. We would love to hear some feedback from you. Have fun!
<hr />
<%= render partial: "form" %>
</section>
</article>
</div>
</section>