<head>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<article id="main">
<section class="wrapper style5">
<div class="inner">
<section>
<h2 style="text-align: center;">
What do you think is the most important criterion?
</h2>
Sort less important criterions below the top one<br/>
- by using drag and drop!	
</br>
</br>
<table>
	<tbody id="criterions" class="list-group" data-url="<%= decisionroom_sort_path %>">
		<% $i = 0 %>
		<% @decisionroom.criterions.order(:position).each do |criterion| %>
		<tr class="list-group-items" id="<%= dom_id(criterion) %>"> <td><%= criterion.name %> </td> </tr>
		<% end %>
	</tbody>
</table>
<p style="text-align: center;">
	<%= link_to "Be the first Decisionmaker!", new_decisionroom_user_path(@decisionroom), class: "button special" %> 
	</p>
</section>
</article>
</div>
</section>