<article id="main">
<section class="wrapper style5">
<div class="inner">
<section>
	<h2>
		Check out the alginment of your group:
	</h2>

	<h4> This is your perspective, <%= current_user.name %> </h4>
	<p>
		The following table gives you an idea of how aligned your answers are in comparsion to other decision makers
	</p>
	<table>
		<tr>
			
		</tr>
	</table>
</section>
</div>
</section>
</article>