<body class="landing">
	<div id="page-wrapper">
		<section id="banner">
			<div class="inner">
				<h2>deciVo</h2>
				<p>Decision making<br />
				simple and free.<br />
				Alphaest alpha version
				<ul class="actions">
					<li><%= link_to "Create your Decision", new_decisionroom_path, class: "button special" %>
					</li>
				</ul>
				</p>
			</div>
		</section>
	</div>
</body>