<body class="landing">
	<div id="page-wrapper">
		<section id="banner">
			<div class="inner">
				<h2>deciVo</h2>
				<p>
				Test Version<br />
				If you are not a developer,<br />
				feel free to use it anyways. <br />
				And tell us about your impression! <br/>
				
				<ul class="actions">
					<li><%= link_to "Create your Decision", new_decisionroom_path, class: "button special" %>
					</li>
				</ul>
				</p>
			</div>
		</section>
	</div>
</body>