<% if @errors.present? %>
<div class="errors">
	<ul>
		<% @errors.each do |error| %>
		<li> <%= error %> </li>
		<% end %>
	</ul>
</div>
<% end %>

<%= simple_form_for @user, url: {action: "create"} do |f| %>
	<%= f.input :name, label: false, required: true, placeholder: "Your Name" %>
	<br />
	<p style="text-align: center;">
	<%= f.submit "Start!", class: "button special" %>
	</p>
	<% end %>