</br>
<h3>
	Share to following link to add your friend to the decision:
</h3>
</br>
<b>
	<%= decisionroom_url(@decisionroom) %>
</b>
<br/>
<br/>
<div class="links">
	<%= link_to "Back", decisionroom_path(@decisionroom) %>
</div>