<article id="main">
<section class="wrapper style5">
<div class="inner">
<section style="text-align: center;">
</br>
<h3>
	Share to following link to add your friend to the decision:
</h3>
</br>
<b>
	<%= decisionroom_url(@decisionroom) %>
</b>
<br/>
<br/>
<p>
<%= link_to "Back", :back, class: "button" %>
</p>
</section>
</div>
</section>
</article>