<article id="main">
<section class="wrapper style5">
<div class="inner">
<section style="text-align: center;">
<h3> Welcome! </h3>
</br>
Before participating on the decision making. Please, check if you are already registered: <br/><br/>
<table>
<% @decisionroom.users.each do |decisionmaker| %>
	<tr>
	<td>
	<%= link_to decisionmaker.name, {:controller => "user", :action => "member_chosen", user_id: decisionmaker.id, decisionroom_token: @decisionroom.token} %>
	</td>
	</tr>
<% end %>
</table>
<br/>
<br/>
<% if !@decisionroom.has_outcome then %>
<p>
If you are new to this decision, click below to participate!
<br/>
<br/>
<%= link_to "Be a new member!", {:controller => "user", :action => "new"},class: "button special" %>
</p>
<% end %>
</section>
</div>
</section>
</article>