<article id="main">
<section class="wrapper style5">
<div class="inner">
<section>

<h3>One last step! Please insert your name to see the decisionroom:</h3>


<%= render partial: "form" %>
</section>
</div>
</section>
</article>