<article id="main">
<section class="wrapper style5">
<div class="inner">
<section>

<h3 style="text-align: center;">So close: Just insert your name to proceed</h3>
(To make it anonymous you insert a nickname, which is just known to your friends!)
<br/>
<br/>
<%= render partial: "form" %>
</section>
</div>
</section>
</article>